/***** Variables *****/
:root{
    --color-principal: #0277bd;
    --color-texto: #FFF;
    --color-scrollbar: #607d8b;
    --color-opciones: #455a64;
    --color-bordes: #ccc;
}

/* Cuerpo */
.todo-contenido{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
/****** Menú Lateral *****/
.menu-lateral{
    position: fixed;
    top: 10vh;
    left: 0;
    width: 25vw;
    height: 90vh;
    border-right: 1px solid var(--color-bordes);
}
.menu-lateral .contenido-lateral{
    position: relative;
    width: 100%;
    height: 100%;
}
/*.menu-lateral .contenido-lateral .cabecera-lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vh;
    background: var(--color-principal);
}*/
.menu-lateral .contenido-lateral .cuerpo-lateral{
    width: 25vw;
    height: 100%;
    padding: 2vh 2vw;
    overflow-y: auto;
    font-size: 0.95em;
}
/* Categorías */
.menu-lateral .contenido-lateral .cuerpo-lateral .categorias{
    width: 100%;
    height: auto;
    padding: 8px 10px;
    color: var(--color-opciones);
    border-bottom: 1px solid var(--color-bordes);
}
.menu-lateral .contenido-lateral .cuerpo-lateral .categorias:hover{
    cursor: pointer;
    color: var(--color-principal);
    border-bottom: 1px solid var(--color-principal);
}
.menu-lateral .contenido-lateral .cuerpo-lateral .categorias p{
    margin: 0 !important;   
    width: 100%;
}
.menu-lateral .contenido-lateral .cuerpo-lateral .categorias i{
    padding-right: 3px;
}
.menu-lateral .contenido-lateral .cuerpo-lateral .categorias .fa-sort-down{
    float: right;
}
/* Opciones de categoría */
.menu-lateral .contenido-lateral .cuerpo-lateral .opciones-categoria{
    width: 100%;
    height: auto;
    padding: 5px 0;
    font-size: 0.85em; 
}
.menu-lateral .contenido-lateral .cuerpo-lateral .opciones-categoria ul{
    list-style: none;
}
.menu-lateral .contenido-lateral .cuerpo-lateral .opciones-categoria ul li{
    border-bottom: 1px solid var(--color-bordes);
    padding: 5px 0;
    margin-bottom: -10px;
}
.menu-lateral .contenido-lateral .cuerpo-lateral .opciones-categoria ul li .fa-circle{
    font-size: 0.5em;
}
.menu-lateral .contenido-lateral .cuerpo-lateral .opciones-categoria ul li a{
    width: 100%;
    color: var(--color-opciones);
    text-decoration: none;
}
.menu-lateral .contenido-lateral .cuerpo-lateral .opciones-categoria ul li a:hover{
    color: var(--color-principal);
    text-decoration: none;
}
.menu-lateral .contenido-lateral .cuerpo-lateral .opciones-categoria ul li a i{
    padding-right: 5px;
}

/****** Barra navegación *****/
.barra-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    background: var(--color-principal);
    z-index: 800;
}

/***** Contenido principal *****/
.contenido-dinamico{
    position: absolute;
    top: 10vh;
    left: 25vw;
    width: 75vw;
    height: 90vh;
    padding: 2vh 0;
}

/***** Scrollbar personalizado *****/
.cuerpo-lateral::-webkit-scrollbar{
    width: 8px;
}
.cuerpo-lateral::-webkit-scrollbar-thumb{
    background: var(--color-scrollbar);
    border-radius: 5px;
}

/******* DOCUMENTOS DE ALMACÉN *******/
.modal-doc{
    font-size: 0.8em;
}
.modal-doc .form-control{
    font-size: 0.8em;
}
#productos{
    margin-top: 2vh;
    font-size: 0.85em;
    display: none;
    text-align: center;
}
#productosSeleccionar i{
    color: #0277bd;
    font-size: 1.3em;
}
#productosSeleccionar i:hover{
    color: #0d47a1;
    cursor: pointer;
}
#productosSeleccionados{
    font-size: 0.9em;
    display: none;
    text-align: center;
}
#productosSeleccionados .cantidad{
    font-size: 0.9em;
    text-align: center;
    padding: 5px;
    width: 50px !important;
    border-radius: 5px;
    background: #ced4da;
}
#productosSeleccionados i{
    font-size: 1.3em;
    color: #f44336;
    margin: 0 !important;
}
#productosSeleccionados i:hover{
    color: #c62828;
    cursor: pointer;
}
#anularDoc{
    display: none;
    margin-top: 10px;
}
#anularDoc p{
    margin: 0 !important;
}

#caja{
    display: none;
}
.caja{
    padding: 20px; 
    height: auto;
}
.caja .total{
    width: 35%;
    float: right;
}
.caja .total .label-cantidad{
    font-weight: bold;
    font-size: 1.3em;
    color: #607d8b;
    padding-right: 10px;
    margin-left: 15px;
}
.caja .total .cantidad-total{
    width: 120px;
    padding: 10px 15px;
    border-radius: 3px;
    color: #2196f3;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 13px;
    background: #ced4da;
}
.caja .total .dinero{
    width: 120px;
    padding: 10px 15px;
    border-radius: 3px;
    color: #4caf50;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.caja .total .vuelto{
    width: 120px;
    padding: 10px 15px;
    border-radius: 3px;
    color: #c62828;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    background: #ced4da;
}
.caja .metodo-pago{
    width: 61%;
    float: left;
}
.caja .metodo-pago .elementos{
    width: 25%;
    float: left;
    margin-right: 5%;
}